name: CI Pipeline

on:
  push:
    branches:
      - main
      - feature/*
  pull_request:

jobs:
  example:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
